<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntrepriseLabel" jhiTranslate="michelRecrutement2App.entreprise.home.createOrEditLabel">Create or edit a Entreprise</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!entreprise.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entreprise.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="michelRecrutement2App.entreprise.entrepriseName" for="field_entrepriseName">Entreprise Name</label>
            <input type="text" class="form-control" name="entrepriseName" id="field_entrepriseName"
                [(ngModel)]="entreprise.entrepriseName" required/>
            <div [hidden]="!(editForm.controls.entrepriseName?.dirty && editForm.controls.entrepriseName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entrepriseName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="michelRecrutement2App.entreprise.telephoneEntreprise" for="field_telephoneEntreprise">Telephone Entreprise</label>
            <input type="text" class="form-control" name="telephoneEntreprise" id="field_telephoneEntreprise"
                [(ngModel)]="entreprise.telephoneEntreprise" required/>
            <div [hidden]="!(editForm.controls.telephoneEntreprise?.dirty && editForm.controls.telephoneEntreprise?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telephoneEntreprise?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="michelRecrutement2App.entreprise.siren" for="field_siren">Siren</label>
            <input type="number" class="form-control" name="siren" id="field_siren"
                [(ngModel)]="entreprise.siren" required/>
            <div [hidden]="!(editForm.controls.siren?.dirty && editForm.controls.siren?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.siren?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.siren?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="michelRecrutement2App.entreprise.lieuEntreprise" for="field_lieuEntreprise">Lieu Entreprise</label>
            <select class="form-control" id="field_lieuEntreprise" name="lieuEntreprise" [(ngModel)]="entreprise.lieuEntrepriseId" required>
                <option *ngIf="!editForm.value.lieuEntreprise" [ngValue]="null" selected></option>
                <option [ngValue]="lieuOption.id" *ngFor="let lieuOption of lieuentreprises; trackBy: trackLieuById">{{lieuOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.lieuEntreprise?.dirty && editForm.controls.lieuEntreprise?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.lieuEntreprise?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
